# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

1. Python
2. R
3. SQL

1. NumPy
2. Pandas
3. Matplotlib

| Data Science Tools     |
|------------------------|
| Jupyter Notebook       |
| RStudio                |
| VSCode                 |

### Below are a few examples of evaluating arithmetic expressions in Python

R1 = 2+4

R2 = 3*5

R3 = 8-8

In [1]:
#This a simple arithmetic expression to mutiply then add integers

(3*4) + 5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes/60
hours

3.3333333333333335

**Objectives:**

- list data science languages.
- list data science libraries.
- introducing arithmetic expression.

## Author
Manar